.search {
    display: flex;
    margin: auto;
    gap: 16px;
    align-items: center;
}

.search__label {

}

.search__input {
    padding: 8px;
    flex-grow: 1;
}

.search__submit {
    padding: 8px;
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 16px;
}

.list__element {
    list-style: none;
}

.list__link {
    text-decoration: none;
    color: inherit;
    margin-bottom: 4px;
    padding: 16px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 96%;
    height: 20px;
    display:inline-block;
}

.list__link:hover {
    background-color: #f7fafc;
}